__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

*.pyd
*.pyi
*.pyo
*.pdb

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.tox/
.nox/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.ipynb_checkpoints

.DS_Store

Thumbs.db
ehthumbs.db

*.log

.conda/
*.conda
*.ipynb
__pycache__/
envs/
.lock/
results/

.idea/

.cache

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.prof

celerybeat-schedule

docs/_build/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
.pytest_cache/

*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.python-version
.spyderproject
.spyproject
.zope/
.poetry/
.parcelrc
.pycharm/
__pypackages__/

bandit.yaml

*.ini

